* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100vw;
  height: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.article,
.article-single {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 15px;
  padding: 15px 20px 15px 20px;
  background-color: white;
  width: 90vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  font-size: 13px;
}

.article-body {
  visibility: hidden;
  max-height: 0;
}

.article-container > div:hover {
  transform: scale(1.01);
}

a {
  all: unset;
}

.comment {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 10px;
  padding: 15px 25px 15px 25px;
  background-color: white;
  width: 90vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  font-size: 16px;
}

.toggle-comments-btn {
  font-size: 1rem;
  margin: 20px 0px 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
  border: 1px solid lightgray;
}

.new-comment-box {
  margin: 20px;
  border-radius: 7px;
  border: solid 1px grey;
  background-color: #ededed;
  resize: none;
}

.sort-inputs {
  margin: 20px 55px 20px 5px;
}

@media screen and (min-width: 768px) {
  body {
    background-image: linear-gradient(to right, #283048, #859398);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    all: unset;
  }

  a,
  button:enabled:hover {
    cursor: pointer;
  }

  .content {
    width: 50vw;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  .article {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 25px 15px 25px;
    background-color: white;
    width: 35vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    font-size: 16px;
  }

  .article-single {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 25px 15px 25px;
    background-color: white;
    width: 35vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    font-size: 16px;
  }

  .article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-body {
    visibility: visible;
    max-height: fit-content;
  }

  .header {
    margin: 10px;
    padding: 5px;
  }

  ul {
    display: flex;
    justify-items: flex-end;
    padding: 0px;
  }

  .li-topics {
    list-style-type: none;
    margin: 10px;
  }

  .button-topics {
    text-transform: capitalize;
    font-size: 1em;
    font-weight: 700;
    background-color: #acaeae;
    padding: 5px 40px 5px 40px;
    border-radius: 30px;
    border: none;
  }

  .comment {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 25px 15px 25px;
    background-color: white;
    width: 35vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    font-size: 16px;
  }

  .new-comment-box {
    margin: 20px;
    border-radius: 7px;
    border: solid 1px grey;
  }
}
